@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root,
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --background-transparent: #0a0a0a3d;
  --primary: #10cbb8;
  --secondary: #466271;
  --sublabel: #787878;
  --heading-light: #e0e0e0;
  --heading-dark: #1c1c1c;
}

html.light {
  --background: #f7f7f7;
  --foreground: #212121;
  --background-transparent: #f7f7f74a;
  --secondary: #2b4754;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f7f7f7;
    --foreground: #212121;
    --background-transparent: #f7f7f74a;
    --secondary: #2b4754;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --font-knockbold: var(--font-knockbold);
  --breakpoint-2xs: 25rem;
  --breakpoint-xs: 31.25rem;
  --breakpoint-hxl: 68.75rem;
  --breakpoint-h2xl: 87.5rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 16px;
  }
  ::selection {
    background-color: var(--primary);
    color: var(--heading-dark);
  }
  button,
  a {
    cursor: pointer;
  }
}

@layer utilities {
  /* svg */
  .fill-primary {
    fill: var(--primary);
  }
  .fill-secondary {
    fill: var(--secondary);
  }
  .fill-bg-color {
    fill: var(--background);
  }

  /* colors & backgrounds */
  .glass-bg {
    background: hsla(0, 0%, 100%, 0.15);
    box-shadow:
      inset 0px 0px 3px 1px #fff,
      0px 0px 5px 1px hsla(0, 0%, 0%, 0.071);
    backdrop-filter: blur(2px);
  }
  .text-primary,
  .active {
    color: var(--primary);
  }
  .linear-bg {
    background-image: linear-gradient(
      to right,
      var(--background),
      var(--background-transparent),
      #ffffff00
    );
  }
  .linear-bg2 {
    background-image: linear-gradient(
      to right,
      var(--background),
      var(--background),
      var(--background-transparent),
      #ffffff00
    );
  }

  /* placement & spacing */
  .parent-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-spacing {
    @apply py-5 md:py-10 lg:py-12;
  }
  .card-spacing-variant {
    @apply py-5 md:py-7 lg:py-10;
  }

  /* font & text */
  .heading1 {
    font-family: var(--font-knockbold);
    font-size: clamp(4.375rem, 16vw, 15.625rem);
    @apply uppercase;
  }
  .heading2 {
    font-family: var(--font-knockbold);
    font-size: clamp(3.75rem, 13vw, 12.5rem);
    @apply mb-12 leading-none uppercase md:mb-[4.375rem] lg:mb-[6.25rem] 2xl:mb-[7.5rem];
  }
  .heading3 {
    font-family: var(--font-manrope);
    font-size: clamp(1.4375rem, 6vw, 2.5rem);
    @apply leading-none text-nowrap capitalize;
  }
  .text-small {
    @apply text-base leading-5 md:text-xl md:leading-6 2xl:text-2xl 2xl:leading-7;
  }
  .text-big {
    @apply text-xl md:text-2xl xl:text-[2rem];
  }
  .numbers {
    @apply xs:text-[4rem] text-4xl leading-none md:text-[4.5rem];
  }
  .label {
    @apply text-base leading-none text-nowrap md:text-lg 2xl:text-xl;
  }
  .label-active {
    @apply !text-lg !leading-none !text-nowrap md:!text-xl lg:!text-2xl;
  }
  .sublabel {
    @apply text-sm leading-none text-nowrap text-[var(--sublabel)] md:text-[0.9375rem] 2xl:text-base;
  }
  .sublabel-active {
    @apply !text-base !leading-none !text-nowrap !text-[var(--sublabel)] lg:!text-lg;
  }
  .link {
    @apply block px-2.5 py-2.5 text-sm font-semibold xl:text-base;
  }
  .arbitrary-heading3 {
    @apply [@media(min-width:768px)_and_(max-width:1023px)]:!text-2xl;
  }
}

@layer components {
  .section {
    @apply xs:px-4 mx-auto mt-[4.6875rem] max-w-[120rem] px-2.5 md:mt-[6rem] lg:mt-[7rem] xl:mt-[8rem] xl:px-5 2xl:mt-[9.375rem];
  }
  .header {
    @apply fixed top-0 right-[10px] left-[10px] z-50 !my-2.5 flex items-center justify-between rounded-4xl px-4 py-2 md:!bg-transparent md:!shadow-none md:!backdrop-blur-none;
  }
  .btn-primary {
    background-color: var(--primary);
    @apply flex gap-2 rounded-3xl px-5 py-2.5 font-bold text-nowrap text-white;
  }
  .btn-secondary {
    @apply flex gap-1.5 rounded-3xl px-5 py-2.5;
  }
  .brand {
    fill: var(--secondary);
    @apply max-h-6 shrink-0 lg:max-h-8;
  }
  .portfolio-img {
    @apply xs:h-48 h-33 w-9/12 rounded-xl sm:h-65 md:h-52 md:w-1/2 lg:h-auto;
  }
  .half-circel {
    @apply absolute top-3 left-2 -z-10 h-50 w-27 rounded-r-full border-3 border-l-0 lg:top-7 lg:h-81 lg:w-50;
  }
  .input {
    @apply block h-12 w-full border-b-2 border-white px-2 focus:outline-0;
  }
  .footer-contact {
    @apply mb-4 flex flex-col items-center lg:mb-4 lg:!flex-row lg:gap-2;
  }
}

body {
  background: var(--background);
  background-size: contain;
  color: var(--foreground);
  font-family: var(--font-manrope);
}
